<div class="row">
    <div class="col-lg-3">
        <%= render 'room_menu' %>
    </div>  
    <div class="col-lg-9">
        <div class="card">
            <div class="card-header">
                Photos
            </div>
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-3">
                         
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>